<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="img/weather.png">
     <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="main-content">
        {{>header}}
         <p>This app uses data from mapbox.com and weatherstuck.com</p>
         
        <img class="portrait" src="./img/ben youssef.jpg">
        <p>Created by Ben Youssef</p>
        </div>

        {{>footer}}
    </body>
</html>